{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'header.html' %}

<!--====== BLOG PART START ======-->
	<section id="blog" class="blog-area pt-170 pb-140">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7">
					<div class="section-title">
						<h2 class="wow fadeInUp" data-wow-delay=".2s">From The Blog</h2>
						<p class="wow fadeInUp" data-wow-delay=".4s">Gain new skills everyday!</p>
					</div>
				</div>
			</div>
			{% for blog in blog %}
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-md-8">
					<div class="single-blog">
						<div class="blog-img">
							<div class="section-title text-center mb-50">
							<a href="javascript:void(0)" class="d-block">
								<img src="{% if blog.image %}{{blog.image.url}} {% endif %}" alt="">
							</a>
							</div>
						</div>
						<div class="blog-content">
							<h4><a href="{% static 'javascript:void(0)' %}">{{blog.name}}</a></h4>
							<p>{{blog.text}}</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	<!--====== BLOG PART ENDS ======-->

{% endblock %}