{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'header.html' %}


<body>
	<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====== PRELOADER PART ENDS ======-->

	<!--====== HEADER PART START ======-->



	<!--====== HEADER PART ENDS ======-->

	<!--====== HERO PART START ======-->
	<section id="home" class="hero-area bg_cover">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-5 offset-xl-7 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
					<div class="hero-content">
						<h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Scholar.kg</h2>
						<p class="wow fadeInUp" data-wow-delay=".4s">Build skills. Boost your career. Scholar.kg - learning space!</p>
						<div class="hero-btns">
							<a href="{% url 'courses' %}" class="main-btn wow fadeInUp" data-wow-delay=".6s">Courses</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-left">
			<img src="{% static 'images/hero-img.png' %}" alt="">
			<img src="{% static 'images/dot-shape.svg' %}" alt="" class="shape">
		</div>
	</section>
	<!--====== HERO PART END ======-->

	<!--====== SKILL PART START ======-->
	<section id="skill" class="skill-area pt-170">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 col-md-10 mx-auto">
					<div class="section-title text-center">
						<h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Why Scholar.kg?</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-skill wow fadeInUp" data-wow-delay=".2s">
						<div class="skill-icon">
							<i class="lni lni-pencil-alt"></i>
						</div>
						<div class="skill-content">
							<h4>Learn Anything</h4>
							<p>Whether you want to develop as a professional or discover a new hobby, there's an online course for that.
								You can even take your learning further with online programs and degrees.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-skill wow fadeInUp" data-wow-delay=".4s">
						<div class="skill-icon">
							<i class="lni lni-grid-alt"></i>
						</div>
						<div class="skill-content">
							<h4>Learn with experts</h4>
							<p>Meet educators from top universities and cultural institutions,
								who'll share their experience through videos, articles, quizzes and discussions.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-skill wow fadeInUp" data-wow-delay=".6s">
						<div class="skill-icon">
							<i class="lni lni-certificate"></i>
						</div>
						<div class="skill-content">
							<h4>Learn Together</h4>
							<p class="wow fadeInUp" data-wow-delay=".4s">Join millions of people from around the world learning together.
							Online learning is as easy and natural as chatting with a group of friends. Learn with experts</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== SKILL PART ENDS ======-->

	{% endblock %}