{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'header.html' %}

<!--====== TEAM PART START ======-->
	<section id="mentors" class="team-area pt-170 pb-140">
					<div class="welcome-content text-center">
						<div class="section-title">
							<h2 class="mb-35 wow fadeInUp" data-wow-delay=".2s">You are using free lite version of Learn</h2>
						</div>
						<div class="content">
							<p class="mb-35 wow fadeInUp" data-wow-delay=".4s">Please purchase full version of the template to get all pages, sections, features and permission to remove footer credits.</p>

							<a href="https://rebrand.ly/learn-ud" rel="nofollow" class="main-btn wow fadeInUp" data-wow-delay=".5s">Purchase Now <i class="lni lni-arrow-right"></i></a>
						</div>
					</div>
	</section>
	<!--====== TEAM PART ENDS ======-->

{% endblock %}